extends ../layout

block content

  form(action='/listings/search', method='get')
    h2 Search your location
    input(type="text" name="location" placeholder="Search locations..")
    div.actions
    input(type='submit', value='Search')


  //-
  //- form(action="/users/new", method="post")
  //-
  //-     span.label submit
  //-     input(type="password", name="password")
  //-   div.actions
  //-     input(type="submit", value="Sign up")
  each val in listings
    a(class='listing' href='listings/view?id=' + val.id)
      div(class='listing')
        div(id='listing-title')=val.title
        div(id='listing-description')=val.description
        div(id='listing-location')=val.location
        div(id='listing-price')='£' + val.price + 'per night'

    br
