extends ../layout

block content
  div(class='Listing')
    h2= showlisting.name
    div(id='listing-title')=showlisting.title
    div(id='listing-description')=showlisting.description
    div(id='listing-location')=showlisting.location
