h1 Welcome!

  .header
    ul
      li
        a.active(href='/') Home
      li
        a(href='/users/new') Sign up
      li
        a(href='/users/login') Sign in
      li
        a(href='/listings') View Listings
      li
        a(href='/index/goodbye') Sign out

  p= email


  form(action="/users/sessions", method="post")
    div.input
    div.actions
    input(type="submit", value="Log out")

  form(action="/", method="get")
    div.input
    div.actions
    input(type="submit", value="Go Home")
