extends layout

block content
  img(class="staycool" src= "https://dl.dropbox.com/s/gcpsnlahyenw5i1/staycooljpg.jpg")

  button(onclick="signup()") Sign Up
  script.
    function signup() {
      window.location.href = '/users/new'
    };

  button(onclick="signin()") Log In
  script.
    function signin() {
      window.location.href = 'users/login'
    };

  button(onclick="listing()") View listings
  script.
    function listing() {
      window.location.href = '/listings'
    };

  button(onclick="signout()") Sign out
  script.
    function signout() {
      window.location.href = '/index/goodbye'
    };
