doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header
      ul
        li
          a.active(href='/') Home
        li
          a(href='/users/new') Sign up
        li
          a(href='/users/login') Sign in
        li
          a(href='/listings') View Listings
        li
          a(href='/users/sessions') Sign out

        p(class='email')= email



  block content
