extends layout

block content
  //- .header
  //-   ul
  //-     li
  //-       a.active(href='/') Home
  //-     li
  //-       a(href='/users/new') Sign up
  //-     li
  //-       a(href='/users/login') Sign in
  //-     li
  //-       a(href='/listings') View Listings
  //-     li
  //-       a(href='/index/goodbye') Sign out
  h1= Hello
  p Welcome to log in

  form(action="/users/login", method="post")
    div.input
      span.label email
      input(type="email", name="email")
    div.input
      span.label Password
      input(type="password", name="password")
    div.input
    div.actions
      input(type="submit", value="Log in")

    form(action="/", method="get")
      div.input
      div.actions
      input(type="submit", value="Go Home")
