
h1= title

if message && message.length
      strong #{message}

form(action="/users/new", method="post")
  div.input
    span.label Name
    input(type="text", name="name")
  div.input
    span.label Username
    input(type="text", name="userName")
  div.input
    span.label email
    input(type="email", name="email")
  div.input
    span.label Password
    input(type="password", name="password")
  div.input
    span.label Password confirmation
    input(type="password", name="password")
  div.actions
    input(type="submit", value="Sign up")
