body {
  padding-bottom: 50px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

a {
  color: #00B7FF;
}


.header ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #218380;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    margin-left: 15px;
    padding: 14px 16px;
    text-decoration: none;
}

.header li img{
  margin-top: 4px;
  margin-left: 10px;
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  width: 90px;
  height: 40px;

}
.email {
    text-align: right;
    color: white;
    margin-right: 25px;
}

.header li a:hover {
    background-color: #111;
}

.image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  /*position: fixed;
  top: 0;
  left: 0;*/
}

.listing{
    margin: auto;
    width: 700px;
    height: 80%;
    /* position: relative; */
    /*margin-top: 100px;*/
    border: solid;
    border-color: transparent;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    overflow: scroll;
    color: white;
    font-family: comfortaa;
    font-size: 20px;
}
.viewListing{
    margin-top: 100px;
    margin-left: 100px;
    width: 700px;
    height: 80%;
    /* position: relative; */
    border: solid;
    border-color: transparent;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    overflow: scroll;
    color: white;
    font-family: comfortaa;
    font-size: 20px;
}

.listing:hover {
  background-color: #21828D;
}

/*div#space-listing {
    font-family: comfortaa;
    width: 303px;
    display: inline-block;
    padding: 12px;
    margin: 10px;
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.5);
    transform: scale(1);
    box-shadow: none;
    transition: transform 0.5s, box-shadow 0.5s;

}*/
/*
div#space-listing:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px black;
  transition: transform 0.5s, box-shadow 0.5s;*/
